text {
  color: black;
}

.chart {
  height: 70vh;
  margin: 1rem 0px;
  min-height: 200px;
  max-height: 600px;
  display: flex;
  flex-flow: column;
}

.chart-container {
  flex-grow: 1;
  margin-top: 1em;
  overflow: hidden;
}

.close-button {
  padding: 0rem 0.4rem !important;
  border: 0px !important;
}
