.chart-container {
  height: 70vh;
  max-height: 400px;
}

.xyframe-line {
  stroke-width: 6px;
  opacity: 0.75;
}

.tick-line {
  stroke-width: 1px;
  opacity: 0.5;
}

.tick-line .bottom {
  opacity: 0;
}

.axis-baseline {
  stroke-width: 3px;
  opacity: 0.65;
}

.select-location {
  max-width: 100% !important;
  padding-right: 0px !important;
}

.close-wrapper {
  max-width: 10px !important;
  padding-right: 2rem !important;
}

.close-button {
  padding: 0rem 0.4rem !important;
  border: 0px !important;
}

.chart-options {
  margin: 0.5rem 0px;
}

.chart-options div {
  display: inline;
}

.chart-option-label {
  font-size: 1rem;
  font-weight: 500;
  padding-right: 0.5em;
}
