.marks {
  fill: none;
  stroke-width: 6;
  stroke-linejoin: round;
  stroke-opacity: 0.75;
  /* stroke-linecap: round; */
}

.marks circle {
  opacity: 0.5;
}

/* .marks circle:hover {
  r: 14px;
  opacity: 1;
} */
