.marks {
  fill: none;
  stroke-width: 10;
  stroke-linejoin: round;
  stroke-opacity: 0.5;
  stroke-linecap: round;
}

.marks circle {
  opacity: 0.5;
  r: 5px;
  transition: all 0.2s ease-out;
}

.marks circle:hover {
  r: 14px;
  opacity: 1;
}
