.marks {
  fill: none;
  stroke-width: 3px;
  stroke-linejoin: round;
  stroke-opacity: 0.75;
}

.marks circle {
  opacity: 0.5;
  r: 5;
  transition: r 0.2s ease-out;
  /* fill: grey; */
}

.marks circle:hover {
  r: 15;
}
